<h2>{{userName}} ( {{email}} ) History </h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Login Date/Time</th>
      <th scope="col">Client Information</th>
    </tr>
  </thead>
  <tbody>
    {{#each history}}
      <tr>
        <th scope="row">{{dateTime}}</th>
        <td>{{userAgent}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>